<html lang="en">
<head>
    <%- include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs')%>
    <div class="container">
        <div class="header-link-item">
            <a href="">HOME</a> > <a href="">404</a>
        </div>
        <div class="main">
            <div class="failed">
                <h1>404 Not Found</h1>
                <a href="/">go to main page</a>
            </div>
        </div>
    </div>
</body>
</html>