<html lang="en">
<head>
    <%- include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs')%>
    <div class="container">
        <div class="header-link-item">
            <a href="">HOME</a> > <a href="">new products</a>
        </div>
        <div class="main">
            <div class="main-content">
                <form action="" class="form">
                    <h4>Добавить товар</h4>
                    <fieldset class="fieldset">
                        <input type="text" placeholder="Название продукта" name="product">
                    </fieldset>
                    <fieldset class="fieldset">
                        <input type="number" placeholder="Цена" name="price">
                    </fieldset>
                    <fieldset class="fieldset">
                        <input type="number" placeholder="Скидка" name="skidka">
                    </fieldset>
                    <fieldset class="fieldset">
                        <input type="text" placeholder="URL картинки" name="image">
                    </fieldset>
                     <fieldset class="fieldset">
                        <button type="submit">Добавить продукт</button>
                    </fieldset>
                </form>
                
            </div>

        </div>
    </div>
</body>
</html>