<html lang="en">
<head>
    <%- include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs')%>
    <div class="container">
        <div class="header-link-item">
            <a href="">HOME</a> > <a href="">edit products</a>
        </div>
        <div class="main">
            <div class="main-i">
                <div class="product-i">
                    <div class="products-i-item">
                        <div class="skidka-and-like">
                            <div class="skidka">
                                <span>25%</span>
                            </div>
                            <div class="like">
                                <a href=""><img src="/images/like.png" alt=""></a>
                            </div>
                        </div>
                        <img src="/images/chair.png" alt="" width="200px">
                    </div>
                    <div class="description-product-i">
                        <span>Modern Cheir</span>
                        <span>250$</span>
                        <a href="">
                            <button class="add-btn-i">
                                <img src="/images/Vector (1).png" alt="" width="10%">
                                Добавить в корзину
                            </button>
                        </a>
                    </div>
                </div>
                <div class="edit-btn-i">
                    <a href=""> <img src="/images/dot.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>