<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')%>
    <title>Document</title>
    <script src="https://kit.fontawesome.com/87c5713a24.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('partials/header.ejs')%>
    <div class="container">
        <div class="header-link">
            <a href="">HOME</a> > <a href="">products</a>
        </div>
        <div class="main">
            <div class="main-content">
                <div class="name">
                    <h3>Cheirs</h3>
                </div>
                <div class="name-btn">
                    <a href=""> <img src="/images/Vector (1).png" alt="">
                        <a href="/add">Добавить продукт</a></a>
                   
                </div>
            </div>
            <div class="products">
                <div class="products-item">
                    <div class="skidka-and-like">
                        <div class="skidka">
                            <span>25%</span>
                        </div>
                        <div class="like">
                            <a href=""><img src="/images/like.png" alt=""></a>
                        </div>
                    </div>
                    <img src="/images/chair.png" alt="" width="200px">
                    <div class="description-product">
                        <span>Modern Cheir</span>
                        <span>250$</span>
                        <a href="/chair">
                            <button class="add-btn">
                                <img src="/images/Vector (1).png" alt="">
                            </button>
                        </a>
                    </div>
                    <div class="edit-btn">
                        <a href=""> <img src="/images/dot.png" alt=""></a>
                    </div>
                </div>
                <div class="products-item">
                    <div class="skidka-and-like">
                        <div class="skidka">
                            <span>25%</span>
                        </div>
                        <div class="like">
                            <a href=""><img src="/images/like.png" alt=""></a>
                        </div>
                    </div>
                    <img src="/images/chair.png" alt="" width="200px">
                    <div class="description-product">
                        <span>Modern Cheir</span>
                        <span>250$</span>
                        <a href="/chair">
                            <button class="add-btn">
                                <img src="/images/Vector (1).png" alt="">
                            </button>
                        </a>
                    </div>
                    <div class="edit-btn">
                        <a href=""> <img src="/images/dot.png" alt=""></a>
                    </div>
                </div>
                <div class="products-item">
                    <div class="skidka-and-like">
                        <div class="skidka">
                            <span>25%</span>
                        </div>
                        <div class="like">
                            <a href=""><img src="/images/like.png" alt=""></a>
                        </div>
                    </div>
                    <img src="/images/chair.png" alt="" width="200px">
                    <div class="description-product">
                        <span>Modern Cheir</span>
                        <span>250$</span>
                        <a href="/chair">
                            <button class="add-btn">
                                <img src="/images/Vector (1).png" alt="">
                            </button>
                        </a>
                    </div>
                    <div class="edit-btn">

                        <a  onclick="myFunction3()"> <img src="/images/dot.png" alt=""></a>
                        <div id="edit-delete" class="for-btn">
                            <div class="edit-delete">
                                <button class="edit-button">
                                    Редактировать
                                </button>
                                <button class="delete-button">
                                    Удалить
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-item">
                    <div class="skidka-and-like">
                        <div class="skidka">
                            <span>25%</span>
                        </div>
                        <div class="like">
                            <a href=""><img src="/images/like.png" alt=""></a>
                        </div>
                    </div>
                    <img src="/images/chair.png" alt="" width="200px">
                    <div class="description-product">
                        <span>Modern Cheir</span>
                        <span>250$</span>
                        <a href="/chair">
                            <button class="add-btn">
                                <img src="/images/Vector (1).png" alt="">
                            </button>
                        </a>
                    </div>
                    <div class="edit-btn">

                        <a  onclick="myFunction()"> <img src="/images/dot.png" alt=""></a>
                        <div id="edit-delete" class="for-btn">
                            <div class="edit-delete">
                                <button class="edit-button">
                                    Редактировать
                                </button>
                                <button class="delete-button">
                                    Удалить
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/images/btn.js"></script>
</body>
</html>