.main{
    background-color: #fff;
    min-height: 90vh;
    padding: 20px 3%;
}
.header-link{
    background-color: #F5F5F5;
    min-height: 5%;
    padding: 20px 0 20px 5%;
    color: #898A8C;
}
.header-link a{
    text-decoration: none;
    color: #898A8C;
}
.main-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-content h3{
    font-size: 32px;
}
.name-btn{
    background-color: #FE6769;
    padding: 7px 10px;
    border-radius: 4px;
}
.name-btn a{
    text-decoration: none;
    color: #fff;
}
.name-btn img{
    width: 10px;
    cursor: pointer;
}
.products{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.skidka-and-like{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.skidka{
    background-color: #FE6769;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.like a{
    text-decoration: none;
}
.like img{
    width: 25px;
}
.products-item{
    background-color: #F5F5F5;
    padding: 0 2%;
    border-radius: 10px;
    position: relative;
}
.products-item h4{
    text-align: center;
}
.add-btn{
    cursor: pointer;
    background-color: #FE6769;
    padding:15px 16px;
    border-radius:30px;
    border: none;
    
}
.description-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description-product span{
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
}
.edit-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    margin:0 20px 15px 0;

}
.edit-btn img{
    position: relative;
    width: 15px;
}

.edit-delete{
    display: flex;
    flex-direction: column;
}
.edit-button{
    padding: 7px 10px;
    background-color: #fff;
    color: #000;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.delete-button{
    padding: 7px 10px;
    background-color: #FD0000;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.for-btn{
    display:none;
    right: -1;
    top: -1;
}